<section draggable class="modal" id="implemented-controls">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header class="modal__header">
	
	  <h1 class="modal__title">Implemented Controls</h1>
	  	  
	</header>
	
	<main class="modal__content">
		
	</main>

	<footer class="modal__actions">
	
	  <button class="button modal__button modal__button--close">Close</button>
	  
	</footer>
</section>

<section class="modal modal--wide" id="new-controls">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header class="modal__header">
	  <h1 class="modal__title">Available Controls</h1>
	</header>
	
	<main class="modal__content">
	
		<table class="table" id="new-controls__details">
		</table>
		
	</main>
	
	<footer class="modal__actions">
	  
	</footer>

	<footer class="modal__actions">
	
	  <button class="button modal__button modal__button--close">Close</button>
	  
	</footer>
</section>

<section class="modal" id="asset-controls">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header class="modal__header">
	
	  <h1 class="modal__title"><span class="asset-name">undefined</span></h1>
	  <p class="modal__text"><span class="asset-description">undefined</span></p>
	  
	</header>
	
	<main class="modal__content">
		
	</main>
	
	<footer class="modal__actions">
	
	  <button class="button modal__button modal__button--close">Close</button>
	  
	</footer>
</section>

<section class="modal" id="control-placement">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header class="modal__header">
	  <h1 class="modal__title">Place your controls (<span class="controls-to-place"></span> remaining)</h1>

	  <p class="modal__text">Select a control below, then select the asset to place it on.</p>
	</header>
	
	<main class="modal__content modal__content--tiles">
			
	</main>
	
	<footer class="modal__actions">
	  
	  <button class="button modal__button modal__button--close">Close</button>
	  
	</footer>
</section>
