<section class="modal" id="end-of-game">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header>
	
	  <h1 class="modal__title">End of Game</h1>
	  
	</header>

	<main class="modal__content">
	
		<p class="modal__text"><strong>Final score: <span class="text--value" id="final-balance"></span></strong></p>
		
		<table class="table" id="game-events">
		</table>
		
	</main>

	<footer class="modal__actions">
	
	  <button class="button modal__button button--exit">Return to Main Menu</button>
	  
	</footer>
</section>
