<section class="modal" id="how-to-play">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header>
	
	  <h1 class="modal__title">How to Play</h1>
	  
	</header>

	<main class="modal__content">		
	</main>

	<footer class="modal__actions">
	
	  <button class="button modal__button modal__button--close">Close</button>
	  
	</footer>
</section>
