<section class="modal modal--wide" id="org-history">
	<section class="modal__close">
		<button class="button modal__button modal__button--close">&#10060;</button>
	</section>
	
	<header class="modal__header">
	
	  <h1 class="modal__title">Org.&nbsp;History</h1>
	  	  
	</header>
	
	<main class="modal__content">
		<canvas class="modal__canvas modal__chart" id="org-history-chart" width="400" height="400"></canvas>
	</main>

	<footer class="modal__actions">
	
	  <button class="button modal__button modal__button--close">Close</button>
	  
	</footer>
</section>
