/*
 * Colour styling variables.
 */

/* Page element colours. */

$panel-bg-colour: #23272a;
$panel-text-colour: white;

$details-bg-colour: #121619;
$details-hover-bg-colour: #23272a;
$details-open-bg-colour: #121619;

$modal-bg-colour: #23272a;

$tiles-bg-colour: #ddd;
$tiles-text-colour: #000;
$tile-bg-colour: #fff;
$tile-text-colour: #111;

$table-bg-colour: #9a9ea1;

$game-display-bg-colour: #ddd;
$display-interface-bg-colour: gray;
$display-banner-bg-colour: black;
$display-banner-text-colour: white;

$game-sidebar-bg-colour: #333;

/* Input element colours. */

$button-bg-colour: white;
$button-text-colour: #23272a;
$button-green-bg-colour: darkgreen;
$button-green-text-colour: white;

/* Text colours. */

$link-colour: #9a9ea1;
$link-visited-colour: #ddd;
$link-focus-colour: #ddd;

$text-positive-colour: green;
$text-negative-colour: #b00;

$text-dummy-colour: purple; /* Temporary. */
