<section class="sidebar__controls" id="controls-options">
	<button class="button button--half" name="view-implemented-controls" id="view-implemented-controls">View<br>Controls</button>
	<button class="button button--half" name="view-new-controls" id="view-new-controls">Add<br>Controls</button>
</section>
