<section class="sidebar__org-stats">	
	<h1 class="sidebar__title" id="organisation-name">undefined</h1>

	<!--<button id="view-members">View Members</button>-->

	<p class="sidebar__text">Turn: <span class="text--value" id="current-turn">undefined</span></p>

	<p class="sidebar__text">Balance: <span class="text--value" id="current-balance">undefined</span></p>

	<button class="button" name="view-history" id="view-history">View History</button>
	<button class="button" name="view-players" id="view-players">View Players</button>
	<button class="button" name="view-orgs" id="view-orgs">View Orgs</button>

	<br>

	<p class="sidebar__text" id="money-to-spend">Money to Spend: <span class="text--value" id="spend-available">undefined</span></p>

	<p class="sidebar__text" id="money-spent">Money Allocated: <span class="text--value" id="spend-allocated">undefined</span></p>
</section>
