<section class="game__display">
	<div class="display__banner">
		<p class="banner__text">Stage: <span class="text__value" id="game-state-banner"></span></p>
		<button class="button banner__button" id="state-tutorial-button">Help</button>
	</div>
	
	<div class="display__environment" id="office-environment">
		
		<header class="environment__header" id="office-header">

			<h2 class="environment-header__title" id="office-environment-header">Your organisation</h2>
			
			<div class="environment-header__image" id="organisation">
				<img class="environment-header__icon asset__icon" src="images/office-header.png">
			</div>
			
		</header>
		
		<div class="environment__assets" id="office-assets">
			
		</div>
		
	</div>

	<div class="display__interface">
		<p>INTERFACE</p>
	</div>

	<div class="display__environment" id="internet-environment">
		
		<header class="environment__header" id="internet-header">
		
			<h2 class="environment-header__title">Internet</h2>
			
			<div class="environment-header__image" id="internet">
				<img class="environment-header__icon asset__icon" src="images/internet-header.png">
			</div>
			
		</header>
		
		<div class="environment__assets" id="internet-assets">
			
		</div>

	</div>
</section>
