<form method="POST" name="join-game" id="join-game" class="form">
	<h1 class="form__title">Join Game</h1>
	
	<label class="form__label form__label--above" for="organisation-joining-code">Joining Code</label>
	<input class="form__control form__input--text" type="text" name="organisation-joining-code" id="organisation-joining-code" required>
	
	<label class="form__label form__label--above" for="organisation-joining-password" class="optional">Joining Password</label>
	<input class="form__control form__input--text" type="text" name="organisation-joining-password" id="organisation-joining-password">
	
	<input class="button form__control form__input form__input--submit" type="submit" value="Join Game"></input>
</form>
