<h1 class="menu__title">Main Menu</h1>

<ul class="menu__list">
	<li class="menu__item"><button class="button" id="how-to-play-button">How to Play</button></li>
	<li class="menu__item"><a class="menu__item__link" href="create-new-game.html">Create New Game</a></li>
	<li class="menu__item"><a class="menu__item__link" href="join-game.html">Join Game</a></li>
	<li class="menu__item"><a class="menu__item__link wip" href="#">Settings</a></li>
</ul>

{{> modals/how-to-play }}
